body{
      display: flex;
      flex-flow: column;
      margin-top: 40px;
}
.parent{
      display: flex;
      flex-flow: column;
      width: 100%;
      height: auto;
      align-items: center;
      background-color: rgb(230, 227, 227);
}
.container1{
      background-color: rgb(199, 195, 195);
      display: flex;
      margin-top: 20px;
      box-shadow: 5px 3px 10px rgb(63, 63, 63);
      flex-direction: column;
      padding: 30px;
      width: 50%;
      height: auto;
      margin-bottom: 30px;
}
.container2{
      border:  1px solid grey;
      width:  100%;
      height: auto;
}
input{
      /* border: 1px solid orangered; */
      border: none;
      outline: none;
      margin: 10px;
      padding: 10px;
      width: 80%;
      height: auto;
      font-size: 16px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
}
button{
      width: 120px;
      height: 35px;
      background-color: orangered;
      color: white;
      font-size: 20px;
      padding: 2px;
      margin: 5px auto;
      border-radius: 5px    ;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      box-shadow: 5px, 5px, 2px, 2px white;
}
#table{
      text-align: center;
      width: 100%;
      height: auto;
}
th, td{
      border: 2px solid grey;
      padding: 5px 15px;
      font-size: 25px;
      
}
th{
      color: blue;
}
td:hover{
      background-color: orange;
      color: white;
}